<p id="notice"><%= notice %></p>

<p>
  <strong>Request:</strong>
  <%= @required_skill.request_id %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @required_skill.skill_id %>
</p>

<%= link_to 'Edit', edit_required_skill_path(@required_skill) %> |
<%= link_to 'Back', required_skills_path %>
