<!DOCTYPE html>
<html>
  <head>
    <title>Oneteam2</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "OneTeam", '#', id: "logo" %>
        <nav>
           <ul class="nav navbar-nav navbar-right">
             <li><%= link_to "Create New User", '/users/new'%> </li>
             <li><%= link_to "User Listing", '/users' %></li>
             <li><%= link_to "Post New Request", '/requests/new' %></li>
             <li><%= link_to "View Requests", '/requests' %></li>
           </ul>
        </nav>
      </div>
    </header>
    <div> <class "container">
      <%= yield %>
    </div>
   </body>
</html>
